# LangChain Core
langchain
langchain-core

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

#mistral integration
langchain-mistralai

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

# Pytorch for backend (hugging face transformer requires)
torch

#streamlit for ui 
streamlit